# PyCity Schools Analysis

- As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

- As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

- As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.
---

In [1]:
import pandas as pd

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [6]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [11]:
school_count = len(school_data_complete['school_name'].unique())
school_count

15

In [13]:
student_count = school_data_complete['Student ID'].count()
student_count

39170

In [14]:
total_budget = school_data_complete['budget'].unique().sum()
total_budget

24649428

In [15]:
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [16]:
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [24]:
# % of Passing math (>=70)
passing_math_count = school_data_complete[school_data_complete['math_score']>=70]['Student ID'].count()
passing_math_percentage = (passing_math_count/student_count)*100
passing_math_percentage

74.9808526933878

In [26]:
# % of Passing math (>=70)
passing_reading_count = school_data_complete[school_data_complete['reading_score']>=70]['Student ID'].count()
passing_reading_percentage = (passing_reading_count/student_count)*100
passing_reading_percentage

85.80546336482001

In [29]:
# % overall passing (the percentage of students who passed math AND reading)
passing_math_reading_count = school_data_complete[(school_data_complete ['math_score']>=70) & (school_data_complete['reading_score']>=70)]['Student ID'].count()
passing_math_reading_count 
overall_passing_rate = (passing_math_reading_count /student_count)*100
overall_passing_rate

65.17232575950983

In [37]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_result = {'Total Schools':[school_count],
                   'Total Students':[student_count],
                   'Total Budget':[total_budget],
                   'Average Math Score':[average_math_score],
                   'Average Reading Score':[average_reading_score],
                   '% Passing Math': [passing_math_percentage],
                   '% Passing Reading':[passing_reading_percentage],
                   '% Overall Passing':[overall_passing_rate]}
                   
district_summary = pd.DataFrame.from_dict(district_result)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary